<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e9b6fa3a83.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: "layouts/header"%>
    <section class="bg-light ">
        <div class=" container">
          <div class="row">
            <div class="col-sm-12 pt-4">
              <%= yield %>        
            </div>
          </div>
        </div>
    </section>
    <%= render partial: "layouts/footer"%>

  </body>
</html>
